  body {
      margin: 0px;
      padding: 0px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      background-color: rgba(0, 0, 0, 0.503);
  }

  /* For  Theme */
  #theme{
    display: inline;
  }

  img {
      height: 2.5em;
      width: 2.5em;
      border-radius: 50%;
  }

  .code {
      text-align: start;
      height: 90vh;
      width: 92vw;
      outline-style: none;
      color: white;
  }

  .symbol {
      border-radius: 50%;
  }

  #code-box {
      position: relative;
  }

  #html,
  #css,
  #js {
      position: absolute;
      left: 6vw;
  }

  #line {
      height: 90vh;
  }

  .files {
      text-align: center;
  }

  .files {
      border: 2px solid rgba(0, 0, 0, 0.288);
  }

  .none {
      display: none;
  }

  .file-active {
      border: 1px solid blue;
      background-color: rgb(0, 0, 0);
      color: red;
  }

  /*++++++++++++++++++++   OutPut  ++++++++++++++++  */
  #OutPut {
      height: 90vh;
  }